<div>
  <link href="./footer-backup.css" rel="stylesheet" />
  <footer class="footer-backup-footer">
    <div class="footer-backup-container">
      <div class="footer-backup-container1">
        <span class="footer-backup-text">Berghahn Business Studio</span>
        <span>Copyright © 2022</span>
      </div>
      <div class="footer-backup-container2">
        <span class="footer-backup-text2 large">About Us</span>
        <span class="footer-backup-text3 large">Contact</span>
      </div>
    </div>
    <img
      alt="image"
      src="../public/playground_assets/waves-white.svg"
      class="footer-backup-image"
    />
  </footer>
</div>
