.footer-backup-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-backup-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.footer-backup-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-backup-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-backup-container2 {
  display: flex;
  justify-content: space-between;
}
.footer-backup-text2 {
  font-weight: 700;
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-backup-text3 {
  font-weight: 700;
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-backup-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .footer-backup-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer-backup-container {
    flex-direction: column;
  }
  .footer-backup-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
