<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <a href="/" class="header-navlink">
          <img
            alt="image"
            src="../public/playground_assets/logo-violet-800.svg"
            class="header-image"
          />
        </a>
        <div class="header-container1">
          <div class="header-container2">
            <a href="/" class="header-navlink1">
              <div class="primary-pink-button-container">
                <button class="primary-pink-button-button button buttonSmall">
                  <span>Let's Chat</span>
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
