<div>
  <link href="./header-backup.css" rel="stylesheet" />
  <div data-role="Header" class="header-backup-header">
    <nav class="header-backup-nav">
      <div class="header-backup-container">
        <a href="/" class="header-backup-navlink">
          <img
            alt="image"
            src="../public/playground_assets/logo-violet-800.svg"
            class="header-backup-image"
          />
        </a>
        <div class="header-backup-menu">
          <a href="/" class="header-backup-navlink1 large">Home</a>
          <a href="/coming-soon.html" class="header-backup-navlink2 large">
            Contact
          </a>
        </div>
        <div class="header-backup-container1">
          <div class="header-backup-container2">
            <div class="primary-pink-button-container">
              <button class="primary-pink-button-button button buttonSmall">
                <span>Let's Talk</span>
              </button>
            </div>
          </div>
          <div data-type="BurgerMenu" class="header-backup-burger-menu">
            <svg viewBox="0 0 1024 1024" class="header-backup-icon">
              <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </nav>
    <div data-type="MobileMenu" class="header-backup-mobile-menu">
      <div class="header-backup-top">
        <a href="/" class="header-backup-navlink3 large">
          Soft UI Design System
        </a>
        <div data-type="CloseMobileMenu" class="header-backup-close-menu">
          <svg viewBox="0 0 1024 1024" class="header-backup-icon2">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="header-backup-mid">
        <div class="header-backup-menu1">
          <a href="/" class="header-backup-navlink4 large">Home</a>
          <a href="/profile.html" class="header-backup-navlink5 large">
            Profile
          </a>
          <a href="/coming-soon.html" class="header-backup-navlink6 large">
            Coming Soon
          </a>
        </div>
      </div>
      <div class="header-backup-bot">
        <div class="primary-pink-button-container">
          <button class="primary-pink-button-button button buttonSmall">
            <span>buy now</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
