.Header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.Nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navlink {
  display: contents;
}
.image {
  width: 140px;
  object-fit: cover;
  text-decoration: none;
}
.container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navlink1 {
  display: contents;
}
.component {
  text-decoration: none;
}
@media(max-width: 991px) {
  .Nav {
    max-width: 960px;
  }
  .image {
    width: 140px;
  }
}
@media(max-width: 767px) {
  .image {
    width: 140px;
  }
}
@media(max-width: 479px) {
  .image {
    width: 100px;
  }
}
